@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

@layer base {
  html,
  body,
  #root {
    @apply h-screen w-screen;
  }

  h1 {
    @apply text-5xl font-bold my-6 w-fit;
  }
  h2 {
    @apply text-3xl font-bold my-6 w-fit;
  }

  h4 {
    @apply text-2xl font-bold my-4 w-fit;
  }

  p {
    @apply text-xl my-2 font-[300] w-fit;
  }
}

@layer components {
  .page-container {
    @apply px-[5vw] md:px-[7vw] py-4 md:py-8 flex flex-col max-w-full w-full overflow-y-auto h-full;
  }
  .play-card-contents {
    @apply absolute cursor-pointer w-full h-full will-change-transform-opacity;
  }
}

